<div id="background-out">
    <div id="background-tile">
        <section class="mat-typography">
            <h1 class="mat-display-4" id="login">Login</h1><br>
        </section>

        <div id="form">
            <form>
                <div id="email">
                    <mat-label for="email">Email</mat-label>
                    <mat-error *ngIf="email.invalid">*</mat-error><br>
                    <input matInput name="email" class="pwd" [formControl]="email" placeholder="Enter your email" required><br>
                    <mat-error *ngIf="email.invalid">{{getEmailMessage()}}</mat-error><br>
                </div>
                <div id="pwd">
                    <mat-label for="pwd">Password</mat-label>
                    <mat-error *ngIf="pwd.invalid">*</mat-error><br>
                    <input matInput type="password" class="pwd" name="pwd" [formControl]="pwd" placeholder="Enter your password"><br>
                    <a routerLink="../ForgotPasswordPage">
                        <p class="mat-body" id="forgot-password">Forgot Password?</p>
                    </a>
                    <mat-error *ngIf="pwd.invalid">{{getPasswordMessage()}}</mat-error><br>
                </div>
            </form>
        </div>
        <div>
            <button mat-raised-button color="primary" [disabled]="email.invalid || pwd.invalid" (click)="login()">LOGIN</button>
        </div>
        <div id="register">
            <p>Don't have a account? <a routerLink="../RegisterPage">Register here.</a></p>
        </div>
    </div>
</div>