@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*Reset elements, gets rid of css whitespace from html head*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/*Set the initial size of parent elements to retain
 *size of document for other elements
 */
html, body {
    margin: auto;
    height: 100%;
    background-color: teal;
}

/*Set the background color*/
#background-out {
    margin: 0;
    height: 100vh;
    background-color: teal;
}

/*Set the color of the tile the login form is in*/
#background-tile {
    margin: auto;
    width: 40%;
    height: 100vh;
    background-color: white;
}

/*title on page*/
#login {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 20%;
}

/*center the form without centering the text*/
#form {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: large;
    margin: auto;
    width: 50%;
}

/*add a little whitespace between forms*/
#email, #pwd {
    margin-bottom: 11%;
}

mat-label {
    margin-bottom: 2%;
}

/*Set form input to be a black line*/
input {
    font-family: "Arial, Helvetica, sans-serif";
    font-size: larger;
    border: 0;
    outline: 0;
    border-bottom: 2px solid rgb(48, 48, 48);
    width: 100%;
    text-align: center;
}

/*Align forgot password link to right and add trailing whitespace*/
#forgot-password {
    text-align: right;
    margin-top: 3%;
}

/*Set button position and size and text size*/
button {
    color:white;
    
    margin: 10% -70px;
    margin-bottom: 20%;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;

    position:relative;
    left:50%;
}

/*Align register link to be centered*/
#register {
    text-align: center;
}