<div class="background-out">
    <div class="background-tile">
        <h1 class="login">Login</h1><br>

        <div class="form">
            <form>
                <label for="email">Email:</label><br>
                <input type="text" id="email" name="email" placeholder="Enter your email"><br>
                <label for="pwd">Password:</label><br>
                <input type="password" id="pwd" name="pwd" placeholder="Enter your password"><br>
                <p class="forgot-password">Forgot Password?</p>
            </form>
        </div>
        <div>
            <button class="submit" (click)="login()">LOGIN</button>
        </div>
        <div class="register">
            <p>Don't have a account? Register here.</p>
        </div>
    </div>
</div>