<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
    <body>
      <header>
        <H1>Welcome to The Music Visualizer</H1>
      </header>
      <main>
        <a mat-raised-button color = "primary" routerLink="LoginPage"> Login </a>
        <a mat-raised-button color = "primary"> Sign Up </a>
        <a mat-raised-button color = "primary" routerLink="VisualizationPage"> Temp Visualizations Page Button </a>
      </main>
    </body>
</html>
