
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Introduction</title>
</head>

<style>
  .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }

    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #dc143c, 0 0 40px #dc143c, 0 0 50px #dc143c, 0 0 60px #dc143c, 0 0 70px #dc143c, 0 0 80px #dc143c;
    }
  }
  </style>

<body id="page-top">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">The Music Visualizer</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
  </div>
</nav>
<header class="text-center text-white d-flex masthead" style="background-color: midnightblue">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase"><strong>Introduction</strong></h1>
        <hr />
      </div>
    </div>
    <div class="col-lg-8 mx-auto">
      <p class="text-faded mb-1" style="margin: 0 0 100px 0">
        Before we get started, here is some basic information about the Music Visualizer!
      </p>
      <h1 class="glow" style="margin: 0 0 20px 0">WARNING</h1>
      <p class="text-faded mb-5">
        This application is prone to causing seizures due to fast moving visuals and changing colors. If you are epileptic, please be mindful.
      </p>
      <p class="text-faded mb-5" style="font-size: medium;">
        <li>The on screen control menu will appear when your mouse is moved.</li>
        <li>At the top of the screen, there is a selection of visualization scenes you can choose from by clicking on the desired chose.</li>
        <li>Press the upload button with the cards icon on the right of the bar to select a source to visualize from, and press it again to turn this menu off.</li>
        <li>Press the volume control button with the sliders icon on the right of the bar to manipulate the selected audio, and press it again to turn this menu off.</li>
        <li>Press the profile icon button on the bottom right to go to the profile page, and click the music visualization button at the top of the screen to return to the visualization.</li>
        <li>After you've linked your Spotify account, go into a device where Spotify is logged in and select 'MusicVisualizer' in Connect a Device</li>
      </p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" role="button" routerLink="../VisualizationPage"> Continue to visualizations page </a>
    </div>
  </div>
</header>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="assets/js/creative.js"></script>
</body>
</html>

