
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Music Visualizer</title>
  <link rel="stylesheet" href="register-page.component.css">
</head>

<body style="color: midnightblue;">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top" style="color: #f05f40;">The Music Visualizer</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive"></div>
  </div>
</nav>
<section class="register-photo" style="background: midnightblue;">
  <div class="form-container">
    <form [formGroup]="signUpForm" (ngSubmit)="signup()" style="background: var(--blue);">
      <h2 class="text-center" style="font-family: Open Sans,Helvetica Neue,Arial,sans-serif;color: White;"><strong>Create</strong> an account.</h2>
      <div class="form-group">
        <mat-error *ngIf="this.signUpForm.get('name')?.invalid && (this.signUpForm.get('name')?.dirty || this.signUpForm.get('name')?.touched)">*</mat-error> <br>
        <input class="form-control" type="text" id="name" name="name" formControlName="name" placeholder="Name" required><br>
      </div>
      <div class="form-group">
        <mat-error *ngIf="this.signUpForm.get('email')?.invalid && (this.signUpForm.get('email')?.dirty || this.signUpForm.get('email')?.touched)">*</mat-error> <br>
        <input class="form-control" type="email" id="email" name="email" formControlName="email" placeholder="Email" required>
        <mat-error *ngIf="this.signUpForm.get('email')?.invalid && (this.signUpForm.get('email')?.dirty || this.signUpForm.get('email')?.touched)">{{getEmailMessage()}}</mat-error><br>
      </div>
      <div class="form-group">
        <mat-error *ngIf="this.signUpForm.get('password')?.invalid && (this.signUpForm.get('password')?.dirty || this.signUpForm.get('password')?.touched)">*</mat-error> <br>
        <input class="form-control" type="password" id="password" name="password" formControlName="password" placeholder="Password" required>
        <mat-error *ngIf="this.signUpForm.get('password')?.invalid && (this.signUpForm.get('password')?.dirty || this.signUpForm.get('password')?.touched)">{{getPasswordMessage()}}</mat-error><br>
      </div>
      <div class="form-group">
        <mat-error *ngIf="this.signUpForm.get('verifyPassword')?.invalid && (this.signUpForm.get('verifyPassword')?.dirty || this.signUpForm.get('verifyPassword')?.touched)">*</mat-error> <br>
        <input class="form-control" type="password" id="verifyPassword" name="verifyPassword" formControlName="verifyPassword" placeholder="Verify Password" required>
        <mat-error *ngIf="this.signUpForm.get('verifyPassword')?.hasError && (this.signUpForm.get('verifyPassword')?.dirty || this.signUpForm.get('verifyPassword')?.touched)">{{getVerifyPasswordMessage()}}</mat-error><br>
      </div>
      <div class="form-group">
        <div class="form-check"><label class="form-check-label" style="color: white;"><input class="form-check-input" type="checkbox" formControlName="acceptTerms">I agree to the license terms.</label></div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" [disabled]="this.signUpForm.invalid">Sign Up</button>
      </div>
      <a class="forgot" routerLink="../LoginPage">Already have an Account? Login here.</a>
    </form>
  </div>
</section>
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="../../../assets/js/creative.js"></script>
</body>

</html>
