
<html>
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</header>
<body (mousemove)="toggleMenu()">
  <audio #audioFile id='audio-file' crossorigin="anonymous">
    <source id="audio-source" origin="https://localhost:4200" type="audio/*" src="">
  </audio>

  <div id="canvas-visualizer">
    <canvas #rendererCanvas id="renderCanvas"></canvas>
  </div>

  <div id="upload-menu" class="glass-pane" style="width: 60%;">
    <p style="font-size: x-large;">Select an input source to visualize:</p>
    <div id="upload-options">
      <!--File loader-->
      <div class="upload-item">
        <div class="select-button" style="background-color: rgba(255, 255, 0, 0.6);">
          <label class="select-img" id="load-label" for="load-file">
            <img class="select-img" src="../../../assets/icons/folder.svg">
          </label>
          <br>
        </div>

        <input type="file" id="load-file" name="load-file" (change)="loadFilePath($event.target)" accept="audio/*" capture>

        <p class="select-text">Local files</p>
      </div>

      <div class="upload-item">
        <div class="select-button" style="background-color: rgba(50, 100, 255, 0.6);">
          <a id="load-mic" (click)="loadMic()" capture>
            <img class="select-img" src="../../../assets/icons/mic.svg">
          </a>
        </div>

        <p class="select-text">Microphone</p>
      </div>

      <div class="upload-item">
        <div class="select-button" style="background-color: rgba(0, 255, 0, 0.6);">
          <a id="load-spotify" (click)="loadSpotify()">
            <img class="select-img" src="../../../assets/icons/spotify.svg">
          </a>
        </div>
        <p class="select-text">Connect Spotify</p>
      </div>
    </div>
  </div>

  <div id="edit-menu" class="glass-pane" style="width: 0%; opacity: 0;">
    <!--Slider controls: volume, pan-->
          <div id="slider">
              <p>Settings</p>

            <!--FFT slider-->
            <div id="fft" *ngIf="!this.scene?.spotifyBool">
              <p style="display: inline">0</p>
              <input id="fft-slider" type="range" min="5" max="15" value="4" step="1" (change)="changeFFT($event.srcElement)">
              <p style="display: inline">9</p>
              <p class="edit-label">Fast Fourier Transform</p>
            </div>

            <!--Smoothing time constant slider-->
            <div id="sc" *ngIf="!this.scene?.spotifyBool">
              <p style="display: inline">0</p>
              <input id="sc-slider" type="range" min="0" max="0.99" value="0.74" step="0.01" (change)="changeSC($event.srcElement)">
              <p style="display: inline">1</p>
              <p class="edit-label">Smoothing Constant</p>
            </div>

            <!--Volume slider-->
            <div id="volume">
              <img src="../../../assets/icons/volumedown.svg">
              <input id= "volume-slider" type="range" min="0" max="1" value="1" step="0.1" (input)="changeVolume($event.srcElement)">
              <img src="../../../assets/icons/volumeup.svg">
              <p class="edit-label">Volume</p>
            </div>

            <!--Pan slider-->
            <div id="panner" *ngIf="!this.scene?.spotifyBool">
              <p style="display: inline;">L</p>
              <input id="panner-slider" type="range" style="display: inline;" min="-1" max="1" value="0" step="0.01" (input)="changePan($event.srcElement)">
              <p style="display: inline;">R</p>
              <p class="edit-label">Pan</p>
            </div>
          </div>
  </div>

  <!--Control info menu listed when info button is pressed-->
  <div id="menu1" class="overlay-top">
    <div class="overlay-content">
        <button class="overlay-top-button" (click)="changeScene(0)">Plane Scene</button>
        <button class="overlay-top-button" (click)="changeScene(1)">Sea Scene</button>
        <button class="overlay-top-button" (click)="changeScene(2)">Nebula Scene</button>
        <button class="overlay-top-button" (click)="changeScene(3)">Particle Cloud Scene</button>
        <button class="overlay-top-button" (click)="changeScene(4)">Sphere Scene</button>
        <button class="overlay-top-button" (click)="changeScene(5)">Ocean Scene</button>
    </div>
  </div>

  <div id="menu" class="overlay">
    <div class="overlay-content">
      <!--Song controls-->
      <div class="controls">
        <!--Song title and album art (if exists)-->
        <div id="song-display">

          <!--Song title-->
          <div class="song-display-container">
            <img id="album" src="../../../assets/icons/disc.svg">
          </div>

          <div id="song-display-text" class="song-display-container">
            <p id="song-title" class="song-text">Unknown</p>
            <p id="song-subtitle" class="song-text">Unknown</p>
          </div>
        </div>


        <!--Button controls: rewind, play/pause, skip-->
        <div id="button" style="display: inline-block;">
          <!--Rewind button-->
          <button (click)="rewindSong()">
            <img class="custom-icon" src="../../../assets/icons/rewind.svg">
          </button>

          <!--Play/Pause button-->
          <button (click)="togglePlay()">
            <img id="play" class="custom-icon-play" src={{playPauseIcon()}}>
          </button>

          <!--Skip button-->
          <button (click)="nextSong()">
            <img class="custom-icon" src="../../../assets/icons/forward.svg">
          </button>
        </div>

        <div id="settings">
          <!--Open music chooser menu-->
          <button class="settings-button" style="display: inline-block;" (click)="toggleUploadMenu()">
            <img class="ui-button" src="../../../assets/icons/upload.svg">
          </button>

          <!--Profile Page Button-->
          <button class="settings-button" style="display: inline-block;" (click)="profilePage()">
            <img class="ui-button" src="../../../assets/icons/profile.svg">
          </button>

          <!--Visualization settings button-->
          <button class="settings-button" style="display: inline-block;" (click)="toggleEditMenu()">
            <img class="ui-button" src="../../../assets/icons/settings.svg">
          </button>
        </div>

        <!--Progress bar-->
        <div id="progress-time">
          <p id="progress-timestamp" style="display: inline-block;padding: 10px;">{{timeString(progress())}}</p>
          <div class="progress" style="display: inline-block;">
            <div id="progress-bar" class="progress-bar bg-light" style="background-color: rgba(255, 255, 255, 1);width: 0%;height: 100%;"></div>
          </div>
          <p id="duration-timestamp" style="display: inline-block;padding: 10px;">{{timeString(duration())}}</p>
        </div>
    </div>
  </div>
</div>

<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="./assets/js/creative.js"></script>
</body>
</html>
