
<html>
<header>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</header>
<body>
  <audio #audioFile id='audio-file' crossorigin="anonymous">
    <source id="audio-source" origin="http://localhost:4200" type="audio/*" src="../../../assets/music/ILLENIUM, X Ambassadors - In Your Arms (Visualizer).mp3">
  </audio>
  
  <div id="canvas-visualizer">
    <canvas #rendererCanvas id="renderCanvas"></canvas>

    <div id="info-button">
      <button (click)="toggleInfo()">
        <img src="../../../assets/icons/info.svg" class="ui-button">
      </button><br>
    </div>
  </div>

  <div id="upload-menu" style="width: 80%;">
    <!--File loader-->
    <label id="load-label" for="load-file">Browse your computer for an audio file</label><br>
    <input type="file" id="load-file" name="load-file" (change)="loadFilePath($event.target)" accept="audio/*">

    <p>OR</p>

    <a id="load-mic" (click)="loadMic()">
      Use the microphone
    </a>
  </div>

  <div id="edit-menu" style="width: 0%; opacity: 0;">
    <!--Slider controls: volume, pan-->
          <div id="slider">
            <!--Scene slider: broken right now-->
              <div id="scene">
              <label for="scene-slider">Scene </label>
              <input id="scene-slider" type="range" min="0" max="2" value="0" step="1" (change)="changeScene($event.srcElement)">
            </div>
            
            <!--FFT slider-->
            <div id="fft">
              <p style="display: inline">0</p>
              <input id="fft-slider" type="range" min="5" max="15" value="4" step="1" (change)="changeFFT($event.srcElement)">
              <p style="display: inline">9</p>
            </div>

            <!--Smoothing time constant slider-->
            <div id="sc">
              <p style="display: inline">0</p>
              <input id="sc-slider" type="range" min="0" max="0.99" value="0.74" step="0.01" (change)="changeSC($event.srcElement)">
              <p style="display: inline">1</p>
            </div>

            <!--Volume slider-->
            <div id="volume">
              <img src="../../../assets/icons/volumedown.svg">
              <input id= "volume-slider" type="range" min="0" max="1" value="1" step="0.1" (input)="changeVolume($event.srcElement)">
              <img src="../../../assets/icons/volumeup.svg">
            </div>
            
            <!--Pan slider-->
            <div id="panner">
              <p style="display: inline;">L</p>
              <input id="panner-slider" type="range" style="display: inline;" min="-1" max="1" value="0" step="0.01" (input)="changePan($event.srcElement)">
              <p style="display: inline;">R</p>
            </div>
          </div>
  </div>

  <!--Control info menu listed when info button is pressed-->
  <div id="info-menu" style="width: 0%;">
    <h2>Controls:</h2>
    <p>m     : toggle the menu<br>
       d     : play the previous song<br>
       a     : play the next song<br>
       space : play/pause the music</p>
  </div>

  <div id="menu" class="overlay">
    <div class="overlay-content">
      <!--Song controls-->
      <div class="controls" *ngIf="!micUsed">
        <!--Song title and album art (if exists)-->
        <div id="song-display">
          
          <!--Song title-->
          <!--
          <img id="album" style="display: inline-block" src={{current.album}}>
          -->
          <p id="song-title" class="song-text">{{this.current.name}}</p>
          <p id="song-subtitle" class="song-text">{{this.current.artist}}</p>
        </div>


        <!--Button controls: rewind, play/pause, skip-->
        <div id="button" style="display: inline-block;">
          <!--Rewind button-->
          <button (click)="rewindSong()">
            <img class="custom-icon" src="../../../assets/icons/rewind.svg">
          </button>

          <!--Play/Pause button-->
          <button (click)="togglePlay()">
            <img class="custom-icon-play" src={{playPauseIcon()}}>
          </button>

          <!--Skip button-->
          <button (click)="nextSong()">
            <img class="custom-icon" src="../../../assets/icons/forward.svg">
          </button>
        </div>

        <div id="settings">
          <!--Open music chooser menu-->
          <button class="settings-button" style="display: inline-block;" (click)="toggleSongMenu()">
            <img class="ui-button" src="../../../assets/icons/upload.svg">
          </button>

          <!--Profile Page Button-->
          <button class="settings-button" style="display: inline-block;" routerLink="../ProfilePage">
            <img class="ui-button" src="../../../assets/icons/profile.svg">
          </button>

          <!--Visualization settings button-->
          <button class="settings-button" style="display: inline-block;" (click)="toggleEditMenu()">
            <img class="ui-button" src="../../../assets/icons/settings.svg">
          </button>
        </div>

        <!--Progress bar-->
        <div id="progress-time" *ngIf="!micUsed">
          <p id="progress-timestamp" style="display: inline-block;padding: 10px;">{{timeString(progress())}}</p>
          <div class="progress" style="display: inline-block;">
            <div id="progress-bar" class="progress-bar bg-light" style="background-color: rgba(255, 255, 255, 1);width: 0%;height: 100%;"></div>
          </div>
          <p id="duration-timestamp" style="display: inline-block;padding: 10px;">{{timeString(duration())}}</p>
        </div>
    </div>
  </div>
</div>

<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="./assets/js/creative.js"></script>
</body>
</html>
