html {
  margin: 0;
}

H1 {
  text-align: center;
}

#canvasButtons {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#renderCanvas {
  position: relative;
}

#title {
  color: white;
  position: absolute;
  text-align: center;
  top: 3%;
  width: 100%;
}

#controls {
  color: white;
  position: absolute;
  margin: auto;
  left: 32%;
  top: 85%;
}

button {
  padding: 15px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: inline-block;
  align-items: center;
  margin: 10px;
}

i {
  padding: 0;
  margin: 0;
  color: white;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0;
  border-radius: 5px;
  height: 15px;
  background-color: white;
}
